@using Proje_Revize_.Models
@model List<Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Şehir</th>
        <th>Birimi</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.PersonelID</td>
            <td>@k.Ad</td>
            <td>@k.Soyad</td>
            <td>@k.Sehir</td>
            <td>@k.Birim.BirimAd</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Personelim/yeniPersonel" class="btn btn-primary">Personel Ekle</a>



